<div class="formEditar">

    <form [formGroup]="forma" (ngSubmit)="guardar()">
    <h1>Menu de edición de habilidades</h1>

    <label>Escriba un título</label>
        <div class="input-group mb-3">
            <input class="form-control"
                type="text" 
                placeholder="Título" 
                formControlName="title">
        </div>

        <div>
          <img [src]="imagen" alt="">
        </div>


        <label >Seleccione Imagen</label>
        <div class="input-group mb-5">
    <input  type="file" 
            class="form-control" 
            accept=".jpg,.png"
            (change)="subirImagen($event)">> 
</div>

<ckeditor [editor]="Editor" 
            [(ngModel)] = " model.editorData" 
            (ready)="onReady($event)"
            class="form-control"
            formControlName="content"
            id="editor"></ckeditor>

<div class="form-group mt-3">


    <div>
      <button id="enviar" type="submit" class="btn btn-primary" (click)="imprimir()">
        Enviar
      </button>
    </div>
  </div>


</form >
</div>



