
<div class="contenedor">
<app-tarjetas *ngFor="let habilidad of habilidades " [items]="habilidad" [verOpciones]="verOpciones"></app-tarjetas>
</div>



<!-- html antes de utilizar input



  <div class="row">
<div class="card " style="width: 18rem;" *ngFor=" let habilidad of habilidades">
  <img [src]="habilidad.image" class="card-img-top" alt="..." id="img2">
  
 
  <div>
    <h5>{{habilidad.title}}</h5>
    <hr>
  </div>
  
  <div class="card-body" >
    <p class="card-text"></p>
    
    <ul list-style-type:none >
      <li >{{habilidad.content}}</li>
    </ul>
  </div>
</div>

</div>




-->











<!--

  <div class="row">


Tarjeta 1
<div class="card " style="width: 18rem;">
  
  <img src="../../../assets/habilidades/html.png" class="card-img-top" alt="..." id="img2">
  <div>
    <h5>HML y CSS</h5>
    <hr>
  </div>
  
  <div class="card-body" >
    <p class="card-text">La cara visible del FrontEnd, son la mejor combinación y complementados por:</p>
    <ol>
      <li>Bootstrap</li>
      <li>FontAwesome</li>
      <li>Flexbox</li>

    </ol>
  </div>
</div>


Tarjeta 2
<div class="card " style="width: 18rem;">
  
  <img src="../../../assets/habilidades/javascript.png" class="card-img-top" alt="...">
  <div>
    <h5>Javascript</h5>
    <hr>
  </div>
  
  <div class="card-body" >
    <p class="card-text">Utilizado como lenguaje principal, complementado:</p>
    <ol>
      <li>Angular</li>
      <li>Typescript</li>
      <li>NodeJs</li>

    </ol>
  </div>
</div>


Tarjeta 3
<div class="card " style="width: 18rem;">
  
  <img src="../../../assets/habilidades/base de datos.png" class="card-img-top" alt="...">
  <div>
    <h5>Bases de datos</h5>
    <hr>
  </div>
  
  <div class="card-body" >
    <p class="card-text">Tecnólogo en gestión de bases de datos, con conocimientos en:</p>
    <ol>
      <li>PostgreSQL</li>
      <li>MySQL</li>
      <li>MariaDB</li>

    </ol>
  </div>
</div>


Tarjeta 4
<div class="card " style="width: 18rem;">
  
  <img src="../../../assets/habilidades/blender.png" class="card-img-top" alt="...">
  <div>
    <h5>Otros Conocimientos</h5>
    <hr>
  </div>
  
  <div class="card-body" >
    <p class="card-text">Siempre estoy en constante capacitación</p>
    <ol>
      <li>Mantenimiento de Equipos de computo</li>
      <li>Blender 3D</li>
      <li>Adobe Photoshop</li>
      <li>Edición de videos con Sony Vegas</li>
      <li>Tecnólogo en Rigging 3D</li>

    </ol>
  </div>
</div>





</div>


  
-->
