<body>
    <div class="contenedor">
        <img src="../../../assets/head/img/yo.jpg" alt="">
        <h3>¡Bienvenido!</h3>
        
        
        
        <h1 class="soy">Soy <h1 class="dev">Desarrollador Frontend.. <span>&#160;</span></h1></h1>
        
        
       
    
        <h6>DESARROLLADOR</h6>
        
        <div class="iconos">
            <button class="btn btn-default btn-circle"><i class="fab fa-facebook-f i"></i></button>
            <button class="btn btn-default btn-circle"><i class="fab fa-instagram i"></i></button>
            <button class="btn btn-default btn-circle"><i class="fab fa-twitter i"></i></button>
    
    
    
    
            
        
    </div>
    
    
    </div>
    
</body>


