<div class="acerca">

  <div class="foto">
    <img src="../../../assets/acerca/yo en el mirador.jpg" alt="">

    <div class="angular">
      <img src="../../../assets/acerca/angular.jpg" alt="">
    </div>
  </div>

 
    
    

<div class="contenido">

  <div >

<h1> ¡HOLA!   Mi nombre es John Mendoza</h1>

<h4 class="subtitulo">Soy desarrollador junior en constante formación</h4>

<p >Actualmente estudiante de ultimo semestre de ingenieria de sistemas, aplicando buenas prácticas en pequeños proyectos.</p>

<h5 class="datos1"> 
  <h5><strong>Nombre Completo: </strong>John Alexander </h5> <br><br>
  <h5><strong>Edad: </strong>27</h5><br><br>
  <h5><strong>Dirección: </strong>Brisas de Vasconia - Ibagué</h5><br><br>
  <h5><strong>Celular: </strong>3123807955</h5><br><br>
  <h5><strong>Email: </strong>jhoamen93@hotmail.com</h5>      
</h5>






                  </div>      
        

</div>
          
<!--

<div class="boton">
  <div class="type-1">
      <div>
        <a class="btn btn-1">
          <span class="txt">Contáctame</span>
          <span class="round"><i id="icono" class="fa fa-chevron-right"></i></span>
        </a>
      </div>
    </div>
  </div>
-->

</div>
