*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap{
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    background: royalblue;
}

.tarjeta-wrap{
    margin: 10px;
    -webkit-perspective: 700;
    
}

.tarjeta{
    width: 300px;
    height: 350px;
    background: #f29720;
    position: relative;
    transform-style: preserve-3d;
    transition: .8s ease;

    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);

}

.adelante, .atras{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; /* funciona para ocultar la cara que ha girados*/
}

.atras{
    transform: rotateY(180deg);

    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: #fff;
    font-family: "open sans";

}

.tarjeta-wrap:hover .tarjeta{  /* al pasar el mouse en tarjetawrap habra un efecto ej tarjeta*/
    transform: rotateY(180deg); 




}